{% extends "padre.html" %}
{% load static %}
{% block title %}
        <title>MH Turismo - Blog</title>
        <link rel="icon" type="image/x-icon" href="{% static 'ProyectoWebApp/assets/favicon.ico' %}" />
{% endblock %}
{% block body %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 ">M&H Turismo</h1>
                        <h2 class="mx-auto my-0 " style="font-size: 60px">Comentarios</h2>
                        <h3 class="text-white-50 mx-auto mt-5 mb-5">Tu agencia de confianza</h3>
                        <a class="btn btn-primary" href="{% url 'NuevoComentario' %}">DEJANOS UN COMENTARIO!!</a>
                        
                        <br>
                        <br>
                        <br>

                        <ul>
                            {% for i in comentarios %}
                                <li style="color: white">{{i}}</li><br><br>
                            {% endfor %}
                            </ul>
                        
                            
                        </center>
                    </div>
                </div>
            </div>
        </header>
<center>
 
{% endblock %}