{% extends "padre.html" %}
{% load static %}
{% block title %}
        <title>MH Turismo - Inicio</title>
        <link rel="icon" type="image/x-icon" href="{% static 'ProyectoWebApp/assets/favicon.ico' %}" />
{% endblock %}
{% block body %}
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">M&H Mucho mas que una agencia de viajes</h2>
                        <p class="text-white-50">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, hic, architecto dolorem quisquam soluta modi a dignissimos ex perspiciatis incidunt consequatur, nulla labore velit eveniet saepe. Quasi consequatur harum eos!
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem velit nemo vel earum explicabo? Commodi aliquid eligendi dicta vero dignissimos id, maiores omnis, eos, nulla esse iste tempore unde ad!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nemo eaque rerum quia, enim ad est reprehenderit vero dolores, qui architecto, unde nam deleniti et assumenda quas obcaecati esse a.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'ProyectoWebApp/assets/img/ipad.png' %}" alt="..." />
            </div>
        </section>

        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Un viaje, miles de experiencias</h4>
                            <p class="text-black-50 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi rem magni pariatur libero! Eius voluptatum perferendis eos quibusdam itaque, aut earum corrupti aperiam amet autem hic architecto eaque distinctio ipsa.</p>
                        </div>
                    </div>
                </div>
            
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'ProyectoWebApp/assets/img/demo-image-01.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Naturaleza</h4>
                                    <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsa esse necessitatibus perferendis dolorum beatae consequuntur, optio possimus sit voluptatibus illum dolores eligendi earum, nemo sint culpa nobis cumque ab?</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'ProyectoWebApp/assets/img/demo-image-02.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Paisajes urbanos</h4>
                                    <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, placeat quasi! Aliquid esse, distinctio, nostrum dolorem hic saepe expedita enim magnam maxime ipsa quidem nesciunt minima, illo possimus quia impedit.</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}